.today {
  font-size: 25px;
  text-align: center;
  font-family: Cambria;
}

.user_name {
  margin-left: 120px;
  margin-bottom: -40px;
  font-size: 25px;
  font-family: Cambria;
}

.circle_txt,
.avg_txt {
  padding: 12px;
}

.avg_value {
  font-size: 25px;
  text-align: center;
  font-family: Cambria;
  margin-top: -82px;
  margin-left: 250px;
  margin-bottom: 70px;
}

.header {
  text-align: center;
  padding-bottom: 40px;
  padding-left: -400px;
  padding-top: 30px;
  border: 2px solid green;
  border-radius: 10px;
}

.body {
  margin-left: -2px;
  padding-left: 500px;
  padding-top: 50px;
  background-color: lightblue;
  border: 2px solid lightskyblue;
  border-radius: 10px;
}

.average{
margin-top: -45px;
margin-left: 250px;
}

.today_txt{
  margin-left: 10px;
  }